ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
WALLET_SECRET_KEY=[83,174,252,233,112,92,13,148,245,132,55,105,104,1,84,238,44,236,191,16,125,169,209,64,204,31,56,35,220,229,36,9,200,2,10,102,65,62,100,61,162,4,138,9,71,76,65,183,2,239,242,100,214,232,221,119,244,27,217,77,254,141,132,24]
ABSTRACTED_WALLET_MASTER_SEED=GENERATE_A_SECURE_64_BYTE_HEX_STRING
TXLINE_API_BASE_URL=https://txline-dev.txodds.com/api
TXLINE_PROGRAM_ID=6pW64gN1s2uqjHkn1unFeEjAwJkPGHoppGvS715wyP2J
TXL_MINT=4Zao8ocPhmMgq7PdsYWyxvqySMGx7xb9cMftPMkEokRG
DATABASE_URL=postgresql://postgres:password@db.xxx.supabase.co:5432/postgres
PORT=3001
EVENT_API=https://gamma-api.polymarket.com
ORDERBOOK_API=https://clob.polymarket.com
ORDERBOOK_WS=wss://ws-subscriptions-clob.polymarket.com/ws/market
